<link href="/css/adminBackground.css" rel="stylesheet" type="text/css">

<div class="d-flex justify-content-around" style="margin-bottom:9.2vh">


    <div class="toReview border w-50 shadow  m-5 bg-white" style="min-height : 60vh">
        <div class="rHeader bg-info px-3 py-2">
            <h4>Assign Review</h4>
        </div>

        <form class="p-3" method="POST" action="/user/admin/handleAssign-work">
            <p class="form-text mt-4">Receipent : </p>
            <select class="form-select" name="receipent">
                <option disabled selected>Select receipent</option>
                <% for( user of users){ %>
                    <% let i=0; %> 
                    <option value="<%= user._id %>"><%= user.name %></option>
                    <% i++; %> 
                <% } %> 
                
                
            </select>

            <p class="form-text mt-4">Receiver : </p>
            <select class="form-select" name="receiver">
                <option disabled selected>Select receiver</option>
                <% for( user of users){ %>
                    <% let i=0; %> 
                    <option value="<%= user._id %>"><%= user.name %></option>
                    <% i++; %> 
                <% } %>
            </select>

            <button class="btn btn-success d-block mt-3 ms-auto">Submit</button>
        </form>
    </div>


    <div class="toReview border w-50 shadow m-5 bg-white" style="min-height : 60vh">
        <div class="rHeader bg-info px-3 py-2">
            <h4>Make Admin</h4>
        </div>

        <form class="p-3" method="POST" action="/user/admin/addToAdmin">
            <p class="form-text p-1">Select employee to make admin :</p>
            <select class="form-select" name="empAsAdminName">
                <option disabled selected>Select Employee</option>
                <% for( user of users){ %>
                    <option name="name" value="<%= user._id %>"><%= user.name %></option>
                <% } %>
            </select>
            <button class="btn btn-success d-block mt-3 ms-auto">Add to admin</button>
        </form>
    </div>

</div>