<link href="/css/regis_Login.css" rel="stylesheet" type="text/css">
<!-- Page to add review and show my review -->
<div class="d-flex justify-content-around pt-4" style="min-height:55vh;padding-bottom: 15.7vh;">

    <!-- To add review box -->
    <div class="toReview border w-50 shadow m-3 mx-5 bg-white" style="min-height : 40vh">
        <div class="rHeader bg-info px-3 py-2">
            <h4>Review</h4>
        </div>

        <form class="p-3" method="post" action="/user/adding-review">
            <% if(revRequest) { %>
                 
                <p class="form-text p-1">To : <%= revRequest.name %>  </p>
                <input type="hidden" name="empId" value="<%= revRequest._id %>">
                <input type="hidden" name="currentReview" value="<%= review._id %>">
                <textarea name="review" rows="5" cols="20" class="reviewArea w-100 p-2" placeholder="describe the employee review"></textarea>
                <button class="btn btn-success d-block mt-3 ms-auto" type="submit">Add Review</button>
            <% } %> 
        </form>
    </div>

    <!-- to show all my review -->
    <div class="toReview border w-50 shadow m-3 mx-5 bg-white" style="min-height : 60vh">
        <div class="rHeader bg-info px-3 py-2">
            <h4>My Review</h4>
        </div>
        <ul class="list-group list-group-flush">
            <% if(listReview){ %>
                <%= console.log('list ',listReview) %> 
                <% for( list of listReview ){ %>
                    <li class="list-group-item">
                        <h6><%= list.reviewBy %> </h6>
                        <p><%= list.review %> </p>
                    </li>
                <% } %>       
            <% } %>    
        </ul>
    </div>
</div>